<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@violentmonkey/shortcut Playground</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
        user-select: none;
      }

      body {
        font-family: 'Roboto Slab', serif;
      }

      [un-cloak] {
        display: none;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script>
      window.__unocss = {
        shortcuts: {
          textarea: 'block w-full',
          code: 'bg-blue-200 text-gray-700 border border-solid border-blue-300 rounded px-1 text-xs',
          kbd: 'bg-gray-100 text-gray-700 border border-solid border-gray-300 rounded px-1 text-xs',
        },
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  </head>

  <body>
    <div id="app" class="max-w-screen-md mx-auto px-2" un-cloak>
      <h1 class="text-xl mb-2 text-center">
        <em>@violentmonkey/shortcut</em> Playground
      </h1>
      <div class="flex mb-2">
        <div class="flex-1">Declare your shortcuts here:</div>
        <label>
          <input type="checkbox" v-model="caseSensitive" /> Case sensitive
        </label>
      </div>
      <textarea class="mb-2 textarea h-[10em]" v-model="shortcuts"></textarea>
      <div class="mb-2 text-gray-600">
        Current sequence:
        <span class="text-blue-400" v-text="sequence || 'empty'"></span>
      </div>
      <div class="mb-2 text-center text-gray-600">
        <div v-if="keyTriggered">
          You just triggered
          <span class="text-blue-600" v-text="keyTriggered"></span>!
        </div>
        <div v-else>Press a key and see how it is represented.</div>
      </div>
      <div class="mb-2 text-sm text-gray-600">
        Note:
        <ul class="mt-0">
          <li>
            <kbd class="kbd">Alt</kbd>/<kbd class="kbd">Opt</kbd>/<kbd
              class="kbd"
              >Shift</kbd
            >
            do not work in case-sensitive mode.
          </li>
          <li>
            Some keys might not work because they are occupied by the browser.
          </li>
        </ul>
      </div>
      <div class="grid grid-cols-2 grid-gap-2">
        <div class="p-2 border border-solid border-gray-400">
          <div>Case Insensitive:</div>
          <ul>
            <li v-if="keyExpCI">
              <span v-text="keyExpCI"></span> (<code class="code"
                >event.key</code
              >)
            </li>
            <li v-if="keyExpCICode">
              <span v-text="keyExpCICode"></span> (<code class="code"
                >event.code</code
              >)
            </li>
          </ul>
        </div>
        <div class="p-2 border border-solid border-gray-400">
          <div>Case Sensitive:</div>
          <ul>
            <li v-if="keyExpCS"><span v-text="keyExpCS"></span></li>
          </ul>
        </div>
        <div>
          <pre
            v-if="keyExpCICode"
            class="m-0 p-2 border border-solid border-blue-400 bg-blue-100"
          >
VM.shortcut.register({{ JSON.stringify(keyExpCI) }}, callback);
</pre
          >
        </div>
        <div>
          <pre
            v-if="keyExpCS"
            class="m-0 p-2 border border-solid border-blue-400 bg-blue-100"
          >
VM.shortcut.register({{ JSON.stringify(keyExpCS) }}, callback, {
  caseSensitive: true,
});
</pre
          >
        </div>
      </div>
    </div>
    <script src="index.js"></script>
    <script src="app.js"></script>
  </body>
</html>
